<header>
  <img src="">
  <img src="">
</header>

<div>
  <h3>Can't Swim</h3>
  <p>"The #1 90's Fish Documentary"</p>
  <a href="/details">View Page</a>
  <img src="images/featured.png">
</div>

<div>
  <h2>Previously Viewed</h2>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
</div>

<div>
  <h2>Selections By Previously </h2>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
</div>

<div>
  <h2>Previously Viewed</h2>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
  <img src="">
  <p>Likes</p>
  <a href="/details">View Page</a>
</div>

<footer>
  <img src="">
  <p>Copyright 2017 - All Rights Reserved</p>
  <div>
    <img src="">
    <img src="">
    <img src="">
  </div>
</footer>
